@media (max-width: 768px) {

    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .games {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seasons {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .guessnumber {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 560px) {

    .header {
        &__title {
            font-size: 42px;
        }
    }

    .seasons {
        &__icon {
            max-width: 345px;
        }
    }

    .guessnumber {
        &__icon {
            max-width: 345px;
        }
    }
}

@media (max-width: 560px) {}

@media (max-width: 375px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        max-width: 375px;
        min-height: 735px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/header-bcg.jpg) 34%, lightgray -240.259px 0px / 294% 100% no-repeat;
        background-size: 340%;

        &__title {
            padding-top: 238px;
            font-size: 32px;
        }

        &__text {
            font-size: 14px;
        }

        &__button {
            margin-top: 32px;
        }
    }

    .games {
        flex-wrap: wrap;
        row-gap: 32px;
        padding-bottom: 128px;

        &__item_game {
            width: 343px;
        }
    }

    .seasons {
        padding-top: 50px;
        padding-bottom: 86px;
        text-align: center;
        gap: 64px;

        &__info {
            align-items: center;

            &_title {
                font-size: 32px;
                font-weight: 700;
            }

            &_text {
                font-size: 14px;
                font-weight: 300;
            }
        }

        &__icon {
            max-width: 344px;
        }
    }

    .guessnumber {
        padding-top: 50px;
        padding-bottom: 86px;
        text-align: center;
        gap: 64px;

        &__info {
            align-items: center;

            &_title {
                font-size: 32px;
                font-weight: 700;
            }

            &_text {
                font-size: 14px;
                font-weight: 300;
            }
        }

        &__icon {
            max-width: 344px;
        }
    }

}


@media (max-width: 374px) {

    .games {
        &__item_game {
            width: 288px;
        }
    }

    .seasons {
        &__icon {
            max-width: 288px;
        }
    }

    .guessnumber {
        &__icon {
            max-width: 288px;
        }
    }
}