@media (max-width: 1220px) {

    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .games {
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px
    }

    .seasons {
        gap: 32px;
    }

    .guessnumber {
        gap: 32px;
    }

}